{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <form class="form-group border rounded" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group p-3">
                <legend class="mb-4">Log In</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor  %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor  %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="p-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <small class="text-mutted p-3">
                <a href="#">Forgot your password?</a>
            </small>
        </form>
        <div class="pt-3">
            <small class="text-muted">
                Don't have an account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Today!</a>
            </small>
        </div>
    </div>

{% endblock content %}