{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <form class="form-group border rounded" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group p-3">
                <legend class="mb-4">Register Today!</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor  %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor  %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor  %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_pass.label(class="form-control-label") }}
                    {% if form.confirm_pass.errors %}
                        {{ form.confirm_pass(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_pass.errors %}
                                <span>{{ error }}</span>
                            {% endfor  %}
                        </div>
                    {% else %}
                        {{ form.confirm_pass(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="p-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <div class="pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Login!</a>
            </small>
        </div>
    </div>

{% endblock content %}